/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container1 {
  background: #033048;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.relaxr {
  color: white;
  font-size: 30px;
  font-weight: 900;
}
.active {
  color: #f9e42e;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
}
.nobullet {
  list-style: none;
  display: inline;
  text-decoration: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.container2 {
  padding: 20px;
  display: flex;
  background-color: #f0efef;
}
.maincolumn {
  flex-basis: 66%;
}
h1 {
  font-size: 20px;
  color: #033048;
}
p {
  color: #606161;
  font-size: 14px;
}
.readmore {
  text-decoration: none;
  color: #606161;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.adcolumn {
  flex-basis: 33%;
}
